:root {
    font-family: "Avenir";
}

.App {
    max-width: 414px;
    height: auto;
    font-family: var(--font-family);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
    padding: 0 1rem;
    margin: 0 auto;
}

header {
    padding-top: 2rem;
    grid-column: span 6;
}

header h2 {
    font-size: 1rem;
    letter-spacing: 1px;
}

header h1 {
    font-size: 2.25rem;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: .25rem;
    text-transform: uppercase;
}

main {
    /* margin-top: 1.5rem; */
    grid-column: span 6;
}


main form {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 0 1rem;
}

.form-label {
    grid-row: 1 / 2;
    grid-column: span 3;
    color: #656576;
    background-color: white;
    font-size: 1rem;
    width: 100%;
    transform: translateX(1rem) translateY(.5rem);
    padding: 0 .5rem;
    transition: 1s ease-in-out;

}

.done-label {
    color: #656576;
    font-size: 1rem;
    height: 24px;
    width: 24px;
    /* outline: 1px solid red; */
    position: absolute;
    left: 0;
    transform: translateY(-5px);
}

main input[type="checkbox"] {
    opacity: 0;

}

.box-checked {
    display: block;
    height: 100%;
    width: auto;
    width: 24px;
    height: 24px;
    border: 3px solid#334;
    border-radius: 50%;
    /* transform: translateY(-4px) translateX(-4px); */
}

.box-checked div {
    display: block;
    width: 14px;
    height: 14px;
    margin: 2px auto 0;
    background-color: #334;
    border-radius: 50%;

}

.box-unchecked {
    display: block;
    width: 24px;
    height: 24px;
    border: 3px solid#334;
    border-radius: 50%;
}


main input[type="text"] {
    height: 46px;
    border: 2px solid #334;
    border-radius: 3px;
    grid-row: 2 / 3;
    grid-column: span 6;
    padding: 0 .5rem;
    font-size: 20px;
    font-family: var(--font-family);
    color: #334;
}

main button {
    grid-row: 2 / 3;
    grid-column: span 2;
    background-color: #334;
    border-radius: 3px;
    color: white;
    font-family: var(--font-family);
    font-size: 1rem;
    border: none;
}


/* Table */

.table {
    margin-top: 1rem;
    width: 100%;
}

.table tr {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    height: 71px;
    margin-bottom: 1rem;
    background-color: #DDDDEE;
    border-radius: 3px;
    align-items: center;
    padding: 0 1rem;
}

.table tr td.done {
    grid-column: span 1;
    position: relative;
    transform: translateY(-1px);
}

.table tr td.description {
    grid-column: span 5;
}

.table tr td.edit, tr td.delete {
    grid-column: span 2;
    height: 37px;
    background-color: #334;
    border-radius: 3px;
    text-align: center;
}

.table tr td.delete input{
    padding-top: 8px;
    border: none;
    background-color: #334;
    color: white;
    font-family: var(--font-family);
    font-size: 1rem;
}

.table tr td a span {
    height: 100%;
    display: block;
    padding-top: 11px;
}

.detail-table {
    grid-column: span 8;
}
.path-list {
	margin-bottom: 1rem;
}

.path-list li{
	display: inline-block;
	margin: .5rem 0;
	color: white;
	background-color: #334;
    margin: 10px;
    margin-left: 0;
	padding: .5rem;
	border-radius: 3px;
}

.nav, .info{
    grid-column: span 8;
}


.info li {
    margin: 10px;
    margin-left: 0;
}